@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
body {
  font-size: 12px;
  font-weight: 500;
}
html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-link,
html:not([dir="rtl"])
  .c-sidebar-nav-dropdown-items
  .c-sidebar-nav-dropdown-toggle {
  padding-left: 80px;
}
.table-striped thead th {
  padding: 6px 6px !important;
  text-align: center;
  vertical-align: middle !important;
  border: 2px dotted #ffffff !important;
  white-space: nowrap;
}
.table-striped tbody td {
  padding: 6px 6px !important;
  text-align: center;
  vertical-align: middle !important;
  border: 2px dotted #c6c0f5 !important;
}
.table thead th {
  padding: 6px 6px !important;
  text-align: center;
  vertical-align: middle !important;
  border: 1px solid #c4c4c4 !important;
  white-space: nowrap;
}
.table tbody td {
  padding: 6px 6px !important;
  text-align: center;
  vertical-align: middle !important;
  border-top: 1px solid #c6c0f5 !important;
}
a {
  color: #3c4b64;
  text-decoration: none;
}
a:hover {
  color: #3c4b64;
  text-decoration: none;
}
#gauge {
  text-align: center !important;
}
#gauge svg g[transform*="translate(18,192.68)"] {
  display: none;
}
#linechart svg g[transform*="translate(18,372.68)"] {
  display: none;
}
#gauge svg rect,
#gauge svg {
  fill: transparent;
  background-color: transparent !important;
}
.bat h5 {
  color: #4fd54f;
  text-align: center;
  padding: 4px 0px;
  font-family: digital-7;
  font-size: 18px;
}
.bat i {
  color: #4fd54f;
}
.hum h5 {
  color: #2196f3;
  text-align: center;
  padding: 4px 0px;
  font-family: digital-7;
  font-size: 18px;
}
.hum i {
  color: #2196f3;
}
.tem h5 {
  color: #fc6180;
  text-align: center;
  padding: 4px 0px;
  font-family: digital-7;
  font-size: 18px;
}
.tem i {
  color: #fc6180;
}
@media (max-width: 767px) {
  #device_img {
    width: 25vw !important;
    height: auto !important;
  }
}
