@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
body {
  font-size: 12px;
  font-weight: 500;
}
html:not([dir="rtl"]) .c-sidebar-nav-dropdown-items .c-sidebar-nav-link,
html:not([dir="rtl"])
  .c-sidebar-nav-dropdown-items
  .c-sidebar-nav-dropdown-toggle {
  padding-left: 80px;
}
table thead th {
  padding: 6px 6px !important;
  text-align: center;
  vertical-align: middle !important;
  border: 2px dotted #ffffff !important;
}
table tbody td {
  padding: 6px 6px !important;
  text-align: center;
  vertical-align: middle !important;
  border: 2px dotted #c6c0f5 !important;
}
